<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/mystyle.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="logo">
            <img src="~/Images/home-logo.jpg" width="100" height="100" />
            <a href="#">KHK</a>
        </div>
        <div class="nav_link">
            <a href="#">Home</a>
            <a href="/DoiBong/DoiBong">Menu</a>
            <a href="/CauThu/DanhSach">Contact</a>
            <a href="#">Information</a>
        </div>
        <i class="ri-login-circle-fill"><a href="~/Views/Login/DangNhap.cshtml">Login</a></i>
        @if (Session["Name"] != null)
        {
            <h5 style="color: red;">@Session["Name"]</h5>
        }

    </nav>
    <div>
        @RenderBody()
    </div>

    <div class="footer">
        <div class="footer-columns">
            <div>
                <h3>VỀ CHÚNG TÔI</h3>
                <ul>
                    <li>Lịch sử</li>
                    <li>Công ty</li>
                    <li>Cơ hội nghề nghiệp</li>
                </ul>
            </div>
            <div>
                <h3>DỊCH VỤ KHÁCH HÀNG</h3>
                <ul>
                    <li><a href="#">Câu hỏi Thường Gặp</a></li>
                </ul>
            </div>
            <div>
                <h3>LIÊN KẾT NHANH</h3>
                <ul>
                    <li>Bộ định vị Cửa hàng</li>
                    <li>Dành cho Đối tác</li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy;Vleague. Mọi quyền được bảo lưu.</p>
            <a href="#">Khả năng truy cập Web</a> |
            <a href="#">Chính Sách Bảo Mật Thông Tin</a> |
            <a href="#">Điều khoản Sử dụng</a> |
            <a href="#">Sơ đồ Trang web</a> |
            <a href="#">Tùy Chọn Cookie</a>
        </div>

        <div class="bottom">
            <p>Orther Socials:</p>
            <div class="icons">
                <i class="ri-youtube-line"></i>
                <i class="ri-facebook-circle-fill"></i>
            </div>
        </div>
    </div>
</body>
</html>
