body {
    background: #f0f0f0 url("https://t4.ftcdn.net/jpg/05/12/61/05/360_F_512610544_0excDel8sZTq4W0XLJTSehr9dZfOqi5R.jpg") no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Cho phép các phần tử con xếp theo cột */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    min-height: 100vh;
}

h2 {
    color: white; /* Màu chữ tiêu đề trắng */
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px; /* Giữa các card */
}

.match-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 40px); /* Mỗi card chiếm 1/3 chiều rộng */
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px; /* Khoảng cách giữa các card */
    transition: transform 0.3s, box-shadow 0.3s;
}

.match-info {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.match-date {
    font-size: 16px;
    color: #777;
    margin-bottom: 5px;
}

.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.team-name {
    flex: 1;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.match-score {
    flex: 0.5;
    text-align: center;
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
}

.video-section {
    margin-top: 10px;
    text-align: center;
}

iframe {
    width: 100%;
    height: 180px;
    border: none;
    border-radius: 8px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

    a:hover {
        text-decoration: underline;
    }

/* Responsive */
@media screen and (max-width: 1024px) {
    .match-card {
        width: calc(50% - 40px); /* 2 cột */
    }
}

@media screen and (max-width: 768px) {
    .match-card {
        width: 100%; /* 1 cột */
    }
}
