
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>DangNhap</h2>

<label>Tên Đăng Nhập: </label>
<input type="text" name="loginName" value="" />

<label>Mật Khẩu: </label>
<input type="password" name="passWord" value="" />

